In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("../data/2022_rankings.csv")

In [12]:
print("Null values before cleaning:")
print(df.isnull().sum())

Null values before cleaning:
rank_order                            0
rank                                  0
name                                  0
scores_overall                        0
scores_overall_rank                   0
scores_teaching                       0
scores_teaching_rank                  0
scores_research                       0
scores_research_rank                  0
scores_citations                      0
scores_citations_rank                 0
scores_industry_income                0
scores_industry_income_rank           0
scores_international_outlook          0
scores_international_outlook_rank     0
location                              0
stats_number_students                 0
stats_student_staff_ratio             0
stats_pc_intl_students                0
stats_female_male_ratio              20
aliases                               0
subjects_offered                      0
closed                                0
unaccredited                          0
Year                                  0
dtype: int64

In [14]:
df = df.replace(to_replace=np.NaN, value=0)

In [16]:
print("Null values after cleaning:")
print(df.isnull().sum())

Null values after cleaning:
rank_order                           0
rank                                 0
name                                 0
scores_overall                       0
scores_overall_rank                  0
scores_teaching                      0
scores_teaching_rank                 0
scores_research                      0
scores_research_rank                 0
scores_citations                     0
scores_citations_rank                0
scores_industry_income               0
scores_industry_income_rank          0
scores_international_outlook         0
scores_international_outlook_rank    0
location                             0
stats_number_students                0
stats_student_staff_ratio            0
stats_pc_intl_students               0
stats_female_male_ratio              0
aliases                              0
subjects_offered                     0
closed                               0
unaccredited                         0
Year                                 0
dtype: int64

In [18]:
df.to_csv("../data/2022_rankings_cleaned.csv", index=False)